<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="md"><h1>Catégories</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="refresh()">
        <ion-icon style="font-size: 28px;" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="subheader">
    <ion-row class="ion-no-padding ion-padding-bottom ion-align-items-center">
      <ion-col class="ion-no-padding ion-padding-start">
        <ion-input type="text" [(ngModel)]="category.name" placeholder="Nom de la nouvelle catégorie"></ion-input>
      </ion-col>
      <ion-col size="auto" class="ion-no-padding ion-padding-horizontal">
        <ion-button fill="clear" expand="block" mode="md" (click)="createCategory()">Ajouter</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none" class="list-custom ion-padding-horizontal ion-padding-bottom">
    <div *ngFor="let category of categories; let index = index;">
      <ion-item detail="false">
        <div tabindex="0"></div>
        {{ category.name }}
        <ion-button *ngIf="category.slug != 'non-classe'" slot="end" fill="clear" color="danger" (click)="alertDeleteCategorie(category, index)">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </ion-list>

</ion-content>